.nav {
  margin-left: 5rem;
}

.icons {
  font-size: 20px;
  font-weight: 430;
  margin: 0 1rem ;
 padding-right: 2rem;
 margin: auto;
 /* color: #666666; */
}
/* .a{color: #666666;} */

/* .a:hover{
  color: blue;
  margin: 3rem;
} */